<div class="container">
    <h2 class="text-center m-4">STUDENTS</h2>
    <div class="text-center">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Place</th>
                    <th>View</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of students">
                    <td>{{data.id}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.place}}</td>
                    <td>
                        <button class="btn btn-warning" (click)="viewStudent(data._id)">View</button>
                    </td>
                    <td>
                        <button class="btn btn-secondary" (click)="updateStudent(data._id)">Update</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteStudent(data._id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" (click)="addStudent()">Add Student</button>
    </div>
</div>
